.App {
  font-family: "Lato", sans-serif;
}
.MuiRating-iconFilled {
  color: "#ff6d75" !important;
}

.Popping {
  font-family: "Poppins", sans-serif !important;
}

.bookmarkRibbon {
  height: 0;

  border-right: 15px solid transparent;
  float: left;
  font-size: 17px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 20px;
}

.arrow-down {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
  border-color: #003f5c transparent transparent;
  border-style: solid;
  border-width: 10px 10px 0;
}
